ul{
    list-style-type: none;
    overflow:hidden;
}
a{
    text-decoration: none;
}
header{
    background-color:  #424242;
}
.clearfix{
    overflow:auto;
}
.clearfix::after{
    content: "";
    clear:both;
    display:table;
}
.header-container,
.main-banner,.what-do-you-need,
.counter,.graphic-design,
.examples,.testimonials,
.logos,.coupon,.quick-links,
.footer-container,.main-screen{
    margin: 0px auto;
    max-width: 73.125em;
    padding: 0px 15px;
}
.email{
    margin-top:20px;
}
header{
    display:none;
}
.logo-wrapper div{
    float:left;
}
.logo-wrapper{
    display: flex;
    justify-content:center;
}
.navigation-wrapper{
    display:none;
}
.menu{
    margin-top:5px;
}
.menu>button{
    font-weight:bold;
    border:none;
    text-decoration:none;
    width:100%;
    line-height:30px;
    font-family: 'Lato', sans-serif;    
    font-size:12px;
    color:  #424242;
    background-color:#EDEDED;
}
.menu>.elements>li>a{
    display:block;
    text-align:center;
    text-decoration:none;
   line-height:30px;
    font-family: 'Lato', sans-serif;    
    font-size:12px;
    color:  #424242;
}
.menu>.elements>li>a:hover{
    background-color:#424242;
    color:white;
}
.elements{
    display:none;
}
.elements>li>a>span{
    margin-right:6px;
}
.elements>li>a>span>img{
    display:inline-block;
}

.main{
    background-image: url("../images/img.png");
}

.logo-wrapper div:last-child{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color:#424242;
    font-size:24px;
    margin-left: -6px;
    line-height:47px;

}
.logo-wrapper div:last-child span{
    color:#f0423c;
}
.design-contest{
    padding-top:15px;
    padding-bottom:10px;
}
.login-register ul li a,nav ul li a{
    color:black;
}
.main-screen{
    padding-top:60px;
    padding-bottom: 60px;
}
.main-screen>div{
    max-width:39.375em;
    margin:0px auto;
}

.main-screen img{
    margin:0px auto;
    display:block;
}
.main-screen>div:first-child>div:nth-child(2)>img{
    width:8%;
}
.main-screen>div:first-child>div:nth-child(2){
    margin-top:8px;
}
.main-screen>div:first-child>div:last-child{
    margin-top:14px;
    text-align:center;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    color:#424242;
    font-size: 19px;
    line-height: 30px;
    
}
.main-screen button{
    display:block;
    margin:0px auto;
    border:1px solid #F0423C;
    line-height: 4px;
    text-decoration:none;
    padding: 13px 18px;
    background-color: #F0423C;
    color:white;
    font-family: 'Lato', sans-serif; 
    font-size:10px;
    font-weight: bold;
    cursor:pointer;
}
.main-screen button:hover{
    background-color: #EDEDED;
    color:#F0423C;
}

.main-screen>div:last-child{
    margin-top: 50px;
}
.main-screen>div:last-child>div{
    text-align:center;
    margin-top: 16px;
    font-family: 'Lato', sans-serif; 
    font-size:10px;
    color:#424242;
    font-weight: bold;
    line-height: 4px;
}
.red,.red i{
    color:#F0423C;
}
.main-screen>div:last-child>div>span:first-child{
    margin-right: 10px;
}
.what-do-you-need{
    padding-top: 50px;
    padding-bottom:60px;
}
.need-design{
    text-align: center;
    max-width: 39.375em;
    margin: 0px auto;
}
.need-design>div:first-child,.made-easy>div:first-child{
    line-height: 21px;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
    color:#424242;
    font-size:15px;
}
.need-design>div:nth-child(2)>img,.made-easy>div:nth-child(2)>img{
    margin:0px auto;
    display:block;
    margin-top:5px;
    width:8%;
}
.need-design>div:last-child,.made-easy>div:last-child{
    margin-top:12px;
    font-family: 'Lato', sans-serif;
    font-size:10px;
    color:#424242;
    text-align: center;
    line-height: 14px;
}
.photography{
    margin-top: 20px;
}
.photography>ul>li>a{
    display:block;
}
.photography>ul{
    padding:3px;
}
.photography>ul>li>a>div{
    border: 1px solid #E5E5E5;
    padding-top: 24px;
    padding-bottom: 29px;
    width: 100%;
}
.photography>ul>li>a:hover{
    box-shadow:0px 0px 5px grey;
    transition:box-shadow 0.3s;
}
.photography>ul>li{
    width: 99%;
    display: block;
    margin-top:8px;
    /* padding-top:  */

}
.photography>ul>li{
    margin-top:8px;
    }

.photography>ul>li>a>div>div{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    line-height:10px;
    font-size:12px;
    margin-top:10px;
    text-align:center;
    color:#424242;
}
.photography>ul>li>a>div>img:first-child{
    display:block;
    margin:0px auto;
    width:15%;
}
.photography>ul>li>a>div>img:nth-child(2){
    display:block;
    margin:0px auto;
    margin-top:10px;
}
.photography>ul>li:nth-child(even){
    background-color:#F7F7F7;
}

.what-do-you-need>button{
    padding: 15px 20px;
    font-weight:bold;
    display:block;
    margin:0px auto;
    margin-top:20px;
    border:1px solid #F0423C;
    line-height: 4px;
    text-decoration:none;
    background-color: #F0423C;
    color:white;
    font-family: 'Lato', sans-serif; 
    font-size:10px;
}
.what-do-you-need>button:hover{
    background-color: white;
    color: #F0423C;
    cursor: pointer;    
}
.black{
    background-image: url('../images/img2.png');
}
.counter{
    padding-top:35px;
    padding-bottom:35px;
}
.counter>ul>li{
    float:left;
    text-align:center;
    width: 50%;
    
}
.counter>ul>li>div:last-child{
    margin-top:10px;
    line-height:9px;
    font-size:10px;
    font-weight:bold;
    font-family: 'Lato', sans-serif; 
    color:white;
}
.counter>ul>li>div:first-child{
    line-height: 20px;
    font-size:30px;
    font-weight: bold;
    font-family: 'Lato', sans-serif; 
    color:white;

}
.counter>ul>li>div:nth-child(2){
    margin-top: 15px;
}
.counter>ul>li:nth-child(n+3){
    margin-top:30px;
}
.counter>ul>li>div>img{
    display:block;
    margin:0px auto;
    width:16%;
}
.graphic-design{
    padding-top: 50px;
    padding-bottom:60px;
}
.made-easy{
    max-width: 39.375em;
    margin: 0px auto;
}
.made-easy>div:first-child{
    text-align:center;
}
.outerbox{
    margin-top: 30px;
}

.uppertext>div:first-child{
    line-height:12px;
    color:#424242;
    font-size:13px;
    text-align: center;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}
.outerbox>div{
    width:99%;
}
.uppertext>div:last-child{
    margin-top:12px;  
    color:#424242;
    line-height:15px;
    font-family:'Lato', sans-serif;
    font-size: 10px;  
    text-align: center;
}

.need-work>ul>li{
    margin-top: 24px;
    clear:left;
    overflow: hidden;
}
.need-work{
    margin-right: 30px;
}
.need-work>ul>li>div{
    float:left;
}
.need-work>ul>li>div>img{
    width:50%;
}
.titletext>div:first-child{
    line-height:11px;
    color:#424242;
    font-size:12px;
    font-weight:bold;
    font-family: "Exo", sans-serif;
}
.titletext>div:last-child{
    margin-top: 9px;
    color:#424242;
    line-height: 10px;
    font-size: 10px;
    font-family: "Lato", sans-serif;
}
.video{
    display:none;
}
.gray{
    background-color:#F7F7F7;
}
.examples{
    padding-top:50px;
    padding-bottom: 60px;
}
.of-graphics>div:first-child{
    float:left;
    color:#424242;
    overflow:hidden;    
    line-height:21px;
    font-size:15px;
    font-weight: bold;
    font-family:"Exo", sans-serif;
}
.of-graphics>div:last-child{
    display:none;
}
.of-graphics>div>i{
    padding:9.5px 12.5px;
    background-color: #424242;
    color:white;
}
.of-graphics>div>i:hover{
    background-color: #f0423c;
}
.images{
    margin-top:25px;
}
.images>ul>li{
    float:left;
    width: 50%;
    line-height: 0px;
}
.shufflebutton{
    display: flex;
    justify-content: center;
}
.shufflebutton>i{
    margin-top:15px;
    margin-left:2px;
    padding:6.5px 10.5px;
    background-color: #424242;
    color:white;
}
.shufflebutton>i:hover{
    background-color:#F0423C;
}
.anim>img{
    width: 100%;
}
.transblack{
    display:none;
}
.transition{
    display:none;
}
.anim>div:first-child>img{
    width:100%;
}
.examples>button {
    padding: 15px 20px;
    display: block;
    font-weight: bold;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid #F0423C;
    line-height: 4px;
    text-decoration: none;
    background-color: #F0423C;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
.examples>button:hover{
    cursor: pointer;
    background-color:#F7F7F7;
    color:#F0423C;
    cursor:pointer;

}
.testimonials{
    padding-top:50px;
    padding-bottom:60px;
}
.testhead>div:first-child{
    line-height: 21px;
    color:#424242;
    font-weight: bold;
    font-family: 'Exo', sans-serif;
    font-size: 15px;
    text-align: center;
}
.testhead>div:nth-child(2)>img{
    margin: 0px auto;
    display: block;
    margin-top: 5px;
    width: 8%;
}
.testhead>div:last-child{
    color:#424242;
    margin-top: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
}
.comments{
    margin-top:15px;
    margin-bottom:25px;
}
.comments>ul>li{
    width: 100%;
}
.container{
    width: 88.4%;
    background-color:#f7f7f7;   
    padding-top: 34px; 
    text-align: justify;
    padding:0px 9px;
    padding-top: 20px;
    padding-bottom:20px;
}
.cmt{
    line-height:14px;
    font-size:10px;
    font-family:"Lato", sans-serif;
    color:#666666;
}
.rating{
    margin-top:10px;
}
.rating>span:first-child{
    line-height:9px;
    display: inline-block;
    font-size:10px;
    font-family:"Lato", sans-serif;
    color:#999999;
    margin-right:5px;
}
.rating>span>i{
    line-height:0px;
}
.comments>ul>li:first-child .rating>span>i:nth-child(-n+3){
    color:#f0423c;
}
.name{
    text-align:center;
    margin-top:14px;
    line-height:10px;
    font-size:10px;
    font-weight:bold;
    font-family: "Lato", sans-serif;
    color:#666666;
}
.comments>ul>li:last-child .rating>span>i{
    color:#f0423c;
}
.comments>ul>li:first-child{
    margin-right:30px;
}
.leftright i{
    padding: 9.5px 12.5px;
    background-color: #424242;
    color: white;
}
.leftright{
    margin:0px auto;
    width:75px;
}
.leftright i:hover{
    padding: 6.5px 10.5px;
    background-color: #f0423c;
    color: white;
}
.logoscontainer{
    display: none;
}
.coupon{
    padding-top:10px;
    padding-bottom:60px;
}
.get{
    width:100%;
}

.email>form{
    overflow:auto;
}
.email>form>input{
    font-family:"Lato",sans-serif;
    font-size:10px;
}

.wrapper{
    overflow:hidden;
}
.get>div:first-child{
    color:#424242;
    font-size:11px;
    line-height:12px;
    font-family:"Exo",sans-serif;
    font-weight:bold;
}
.get>div:last-child{
    margin-top:10px;
    color:#666666;
    font-size:13px;
    line-height:11px;
    font-family:"Lato",sans-serif;
    font-weight:bold;
}
.get>div:first-child>span{
    color:#f0423c;
    font-size:12px;
}
.email>form>input:first-child{
    padding:10px 10px;
    border:1px solid #E5E5E5;
    width: 90%;
    height:10px;
}
.email>form>input:first-child:focus{
    background-color:white;
}
.email>form>input:last-child{
    margin-top:20px;
    padding: 0px 12px;
    display: block;
    border: 1px solid #F0423C;
    line-height: 28px;
    text-decoration: none;
    background-color: #F0423C;
    color: white;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}
.email>form>input:last-child:hover{
    background-color: white;
    color:#F0423C;
    cursor:pointer;
}
.last{
    background-color: #F7F7F7;
    border-top: 2px solid #f0423c;

}

.quick-links>div>a>i:first-child{
    float:right;
    padding:5px 6px;
    border:1px solid #f0423c;
    background-color:#f0423c;
    color:white;
}
.quick-links>div>a>i:first-child:hover{
    color:#f0423c;
    background-color: #F7F7F7;
    cursor:pointer;
}
.enclose{
    margin-top:20px;
    overflow:hidden;
}
.wrapperleft{
    display:none;
}
.wrappermiddle{
    float:left;
    width: 100%;
}
.links{
    float:left;
    margin-right: 10px;
    width: 45%;
}
.links>div:first-child{
    line-height: 13px;
    font-family: "Exo",sans-serif;
    font-weight:bold;
    font-size:13px;
    color:#424242;
}
.links>div:nth-child(2){
    margin-top:5px;
}
.links>div:nth-child(2)>img{
    display:block;
    width:13%;
}
.links>ul{
    margin-top:8px;
}
.links>ul>li{
    border-bottom:1px solid #DCDCDC;
}
.links>ul>li:last-child{
    border-bottom:none;
}
.links>ul>li>a{
    padding: 8px 0px;
    overflow:auto;
    display:block;
    color:#666666;
}
.links>ul>li>a:hover{
    color: #f0423c;
}
.links>ul>li:hover .links>ul>li i{
    display:none;
}
.links>ul>li>a>i{
    float:left;
}
.links>ul>li>a>div{
    padding-left: 19px;
    float:left;
    font-family:"Lato",sans-serif;
    font-size:10px;
    line-height:10px;
    
}
.wrapperright{
    display: none;
}
.quick-links{
    padding-bottom:60px;
}
footer{
    background-color:#434343;
}
.wrapperfooter{
    margin:15px 0px;
}
.wrapperfooter>span{
    color:#999999;
    float:left;
    line-height:10px;
    font-family:"Lato", sans-serif;
    font-size:9px;
}
.wrapperfooter>ul{
    display:none;
}


@media screen and (min-width: 768px){
    header{
        display:block;  
    }
    .header-container{
        padding:7px 30px;
    }
    .social-media{
        float:left;
    }

    .social-media ul li{
        float:left;
        margin-right:20px;
        line-height:21px;
        padding: px 0px;
    }
    .social-media ul li a{
        display:block;
    }
    .social-media ul li a i{
        color:#999999;
        /* line-height:0px; */
    }
    .social-media ul li a i:hover{
        color: #F0423C;
    }
    .mail-call-wrapper>ul>li{
        float:right;
    }
    .mail-call-wrapper>ul{
        line-height: 12px;
    }
    .mail-call-wrapper>ul>li>a>div{
        float:left;
    }
    .mail-call-wrapper>ul>li>a{
        text-decoration:none;
        font-family: "Lato", sans-serif;
        font-size:14px;
        color:#8A8A8A;  
        vertical-align:middle;

    }
    .mail-call-wrapper>ul>li:nth-child(n+2){
        margin-right:17px;
    }
    .phone-img::before{
        content: url("../images/Call.png");
        margin-right: 10px;
        vertical-align: middle;
    }
    .mail-img::before{
        content: url("../images/Mail.png");
        margin-right:10px;
        vertical-align: middle;
    }
    .menu{
        display:none;
    }
    .navigation-wrapper{
        display: block;
    }
    .logo-wrapper{
        display: flex;
        justify-content: center;
    }
    .navigation-wrapper{
        float:right;
    }
     .login-register{
        font-family: 'Lato', sans-serif;    
        float:right;
        margin-left:6px;
    }
    .login-register>ul li{
        float: right;
    }
    nav {
        float:left;
    }
    .browse span:first-child{
        padding-right:6px;
    }
    .browse span i{
        line-height:0px;
    }
    .login-register>ul>li a div{
        line-height: 40px;
        font-size: 13px;
    
    }
    .login-register>ul>li a div{
        margin-left:10px;
    }
    .login-register>ul>li a:hover{
        color:#F0423C;
    }
    .login-register ul li a div img{
        margin:0px 7px;
    }
    nav>ul>li{
        float:left;
    }
    nav>ul>li>a:hover{
        color:#F0423C;
    }

    .main{
        background-image: url("../images/img.png");
    }
    nav>ul>li>a{
        font-family: 'Lato', sans-serif;
        line-height: 40px;
        padding: 0px 13px;
        color: #424242;
        display: block;
        font-size:13px;
    }
  
    .dropdown{
        border-top:2px solid #F0423C;
        display:none;
        width:234px;
        position:absolute;
        left:13px; 
        top:150px;
        
    }
    
    .dropdown2{
        border-top:2px solid #F0423C;
        width:234px;
        display: none;  
        position:absolute;
        left: 235px;
        top: 80px;
    }
    nav>ul>li:first-child>a:hover ~.dropdown{
        display:block;
    }
    .dropdown>ul>li a div:hover,.dropdown2>ul>li>a:hover{
        background-color:#f0423c;
    }
    .dropdown2 ul li a{
        display:block;
    }
    .dropdown ul li,.dropdown2 ul li{
        border-top:1px solid #5c5c5c;
    }
    .dropdown ul li:first-child,.dropdown2 ul li{
        border-top:none;    
    }
    .dropdown ul li a div,.dropdown2 ul li a{
        padding: 0px 12px;
        background-color:#424242;
        font-family: 'Lato', sans-serif;
        font-size:14px;
        line-height:40px;
        color:white;
        overflow:auto;
    }
    .dropdown>ul>li>a>div>span:last-child{
        overflow:hidden;
        float:right;
    }
    .dropdown>ul>li>a>div>span:first-child{
        float:left;
        width:96%;
    }
    .logo-wrapper div:last-child{
        font-size:20px;
        margin-left: -6px;
        line-height:47px;
    
    }

    .design-contest{
        padding-top:20px;
        padding-bottom:10px;
    }
    .login-register ul li a,nav ul li a{
        color:black;
    }
    .main-screen{
        padding-top:141px;
        padding-bottom: 113px;
    }
    .main-screen>div{
        max-width:39.375em;
        margin:0px auto;
    }
    .main-screen img{
        margin:0px auto;
    } 
    .main-screen>div:first-child>div:nth-child(2){
        margin-top:13px;
    }
    .main-screen>div:first-child>div:last-child{
        margin-top:20px;
        font-size: 30px;
        line-height: 30px;
        
    }
    .main-screen button{
        padding: 20px 40px;
        font-size:13px;
    }
    .main-screen>div:last-child{
        margin-top: 80px;
    }
    .main-screen>div:last-child>div{
        margin-top: 20px;
        font-size:12px;
        line-height: 10px;
    }
    .main-screen>div:last-child>div>span:first-child{
        margin-right: 10px;
    }
    .what-do-you-need{
        padding-top: 80px;
        padding-bottom:80px;
    
    }
    .need-design>div:first-child,.made-easy>div:first-child{
        line-height: 21px;
        font-size:22px;
    }
    .need-design>div:nth-child(2)>img,.made-easy>div:nth-child(2)>img{
        margin-top:13px;
    }
    .need-design>div:last-child,.made-easy>div:last-child{
        margin-top:20px;
        font-size:14px;
        line-height: 12px;
    }
    .photography{
        margin-top: 57px;
    }
    .photography>ul>li>a>div{
        border: 1px solid #E5E5E5;
        padding-top: 40px;
        padding-bottom: 50px;
        width: 100%;
    }
    .photography>ul>li{
        float:left;
        width: 30.45%;
        margin-right:30px;
    }
    .photography>ul>li:nth-child(3n){
        margin-right:0px;
    }
    .photography>ul>li>a>div>img:first-child {
        width:auto;
    }
    .photography>ul>li>a>div>img:nth-child(2){
        margin-top:20px;
    }
    .photography>ul>li:nth-child(n+4){
        margin-top: 20px;
    }
    .what-do-you-need>button{
        padding: 20px 40px;
        margin-top:40px;
        font-size:13px;
    }
    .counter{
        padding-top:66px;
        padding-bottom:68px;
    }
    .counter>ul>li{
        width: 24.1624%;
        
    }
    .counter>ul>li>div:first-child{
        line-height: 29px;
        font-size:35px;
    
    }
    .counter>ul>li:nth-child(n+3){
        margin-top:0px;
    }
    .counter>ul>li>div:last-child{
        margin-top:15px;
        line-height:13px;
        font-size:14px;
    }
    .counter>ul>li>div:nth-child(2){
        margin-top: 25px;
    }
    .graphic-design{
        padding-top: 80px;
        padding-bottom:80px;
    }
    .uppertext>div:first-child{
        float:left;
        line-height:17px;
        font-size:17px;
    }
    .outerbox>div{
        width:48.718%;
    }
    .uppertext>div:last-child{
        clear:left;
        text-align:left;
        padding-top:15px;  
        line-height:22px;
        font-size: 14px;  
    }
    .need-work>ul{
        margin-top: 12px;
    }
    .need-work>ul>li{
        margin-top: 25px;
    }
    .need-work{
        margin-right: 20px;
        float:left;
    }
    .need-work>ul>li>div{
        float:left;
    }
    .need-work>ul>li>div>img{
        width:70%;
    }
    .titletext>div:first-child{
        line-height:15px;
        font-size:14px;

    }
    .titletext>div:last-child{
        margin-top: 10px;
        line-height: 15px;
        font-size: 12px;

    }
    .video{
        display:block;
        position:relative;
    }
    .video>img:first-child{
        width:100%;
    }
    .dropdown{
        display:none;
    }
    
    .dropdown2{
        display:none;
    }
    .video>img{
        position:absolute;
    }
    .video>img:last-child{
        top:70px;
        left:530px;
    }
    .examples{
        padding-top:73px;
        padding-bottom: 80px;
    }
    .of-graphics>div:first-child{
        line-height:21px;
        font-size:22px;
    }
    .of-graphics>div:last-child{
        display:block;
        float:right;
    }
    .of-graphics>div>i{
        padding:8.5px 11.5px;
        background-color: #424242;
        color:white;
    }
    .shufflebutton{
        display:none;
    }
    .of-graphics>div>i:hover{
        background-color: #f0423c;
    }
    .images{
        margin-top:53px;
    }
    .images>ul>li{
        width: 25%;
        line-height: 0px;
    }
    .examples>button {
        padding: 20px 40px;
        margin-top: 60px;
        line-height: 10px;
        font-size: 13px;
    }
    .testimonials{
        padding-top:80px;
        padding-bottom:80px;
    }
    .testhead>div:first-child{
        line-height: 21px;
        font-size: 22px;
    }
    .testhead>div:nth-child(2)>img{
        margin-top: 13px;
    }
    .testhead>div:last-child{
        margin-top: 20px;
        font-size: 14px;
        line-height: 12px;
    }
    .comments{
        margin-top:57px;
        margin-bottom:60px;
    }
    .comments>ul>li{
        float:left;
        width: 47.7180%;
    }
    .container{
        padding: 0px 20px;
        padding-top: 25px; 
        padding-bottom:25.5px;
    }
    .cmt{
        line-height:22px;
        font-size:14px;
    }
    .rating{
        margin-top:19.5px;
        display:flex;
        justify-content:center;
        align-items: center;
    }
    .rating>span:first-child{
        line-height:12px;
        font-size:13px;
        margin-right:10px;
    }
    .rating>span>i{
        line-height:0px;
    }
    .comments>ul>li:first-child .rating>span>i:nth-child(-n+3){
        color:#f0423c;
    }
    .name{
        margin-top:34px;
        line-height:10px;
        font-size:12px;

    }
    .comments>ul>li:last-child .rating>span>i{
        color:#f0423c;
    }
    .comments>ul>li:first-child{
        margin-right:25px;
    }
    .leftright i{
        padding: 8.5px 11.5px;
        background-color: #424242;
        color: white;
    }
    .logoscontainer{
        display:block;
    }
    .leftright{
        margin:0px auto;
        width:75px;
    }
    .leftright i:hover{
        padding: 9.5px 12.5px;
    }
    .logoscontainer{
        background-color:#f7f7f7;
    }
    .logos>ul{
        display:flex;
        align-items:center;
        padding:36px 0px;
    }
    .logos>ul>li{
        float:left;
        margin-right: 80px;
    }
    .logos>ul>li>img{
        max-width: 100%;
    }
    .logos>ul>li:last-child{
        margin-right: 0px;
    }
    .get{
        float:left;
        width:32%;
    }
    .email{
        float:right;
        width:65.8120%;
        
    }
    .email>form{
        overflow:auto;
    }
    .email>form>input{
        font-size:14px;
    }
    .coupon{
        padding-top:60px;
        padding-bottom:100px;
    }
    .wrapper{
        overflow:hidden;
    }
    .get>div:first-child{

        font-size:14px;
        line-height:19px;

    }
    .wrapperleft{
        display:block;
    }
    .wrapperright{
        display:none;
    }
    .get>div:last-child{
        margin-top:18px;
        color:#666666;
        font-size:12px;
        line-height:11px;
        font-family:"Lato",sans-serif;
        font-weight:bold;
    }
    .get>div:first-child>span{
        color:#f0423c;
        font-size:18px;
    }
    
    .email>form>input{
        float:left;
    }
    .email>form>input:first-child{
        float:left;
        padding:19px 20px;
        width: 68.5714%;;
        height:9px;
    }
    .email>form>input:last-child{
        float:right;
        margin-top:0px;
        padding: 18px 0px;
        width:22.0779%;
        line-height: 10px;
        font-size: 13px;
    }
    .email>form>input:last-child:hover{
        background-color: white;
        color:#F0423C;
        cursor:pointer;
    }
    .last{
        background-color: #F7F7F7;
        border-top: 3px solid #f0423c;
    
    }
    
    .quick-links>div>a>i:first-child{
        float:right;
        padding:9px 11px;
        border:1px solid #f0423c;
        background-color:#f0423c;
        color:white;
    }
    .enclose{
        margin-top:20px;
        overflow:hidden;
    }
    .wrapperleft{
        float:left;
        width:31.6240%;
        margin-right:30px;
    }
    .bottomheading>div{
        float:left;
    }
    .bottomheading>div>img{
        display:block;
    }
    .bottomheading>div:last-child{
        font-family: "Exo",sans-serif;
        font-weight:bold;
        line-height:45px;
        font-size:18px;
        color:#424242;
    }
    .bottomheading>div:last-child>span{
        color:#f0423c;
    }
    .lorem{
        text-align:justify;
        margin-top:18px;
        line-height:22px;
        font-size:12px;
        font-family: "Lato", sans-serif;
        color:#666666;
    }
    .logobottom{
        margin-top:22px;
        display:flex;
    }
    .logobottom>i:first-child{
        padding: 6px 9px;
    }
    .logobottom>i:nth-child(2){
        padding:6px 6px;
    }
    .logobottom>i:nth-last-child(3){
        padding: 6px 8px;
    }
    .logobottom>i:nth-last-child(2){
        padding:6px 7px;
    }
    .logobottom>i:last-child{
        padding:6px 4px;
    }
    .logobottom>i{
        border:1px solid #EBEBEB;
        color:#999999;
       margin-right:10px;
    }
    .logobottom>i:hover{
        color:white;
        background-color:#f0423c;
    }
    .wrappermiddle{
        float:left;
        width: 64.168%;
    }
    .links{
        float:left;
        margin-right: 30px;
        width: 42.5%;
    }
    .links>div:first-child{
        line-height: 18px;
        font-size:18px;

    }
    .links>div:nth-child(2){
        margin-top:16px;
    }
    .links>div:nth-child(2)>img{
        display:block;
    }
    .links>ul{
        margin-top:12px;
    
    }
    .links>ul>li>a{
        padding: 13.5px 0px;
        overflow:auto;
    }
    .links>ul>li:hover .links>ul>li i{
        display:none;
    }
    .links>ul>li>a>i{
        float:left;
    }
    .links>ul>li>a>div{
        padding-left: 19px;
        font-size:12px;
        line-height:12px;
    }
    .wrapperright{
        float:left;
        width: 31.6240%;
    }
    .wrapperright>div:first-child{
        line-height: 19px;
        font-family: "Exo",sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #424242;
    }
    .wrapperright>div:nth-child(2)>img{
        display:block;
        margin-top:16px;
    }
    .wrapperright>div:nth-last-of-type(1){
        margin-top: 18px;
        line-height: 24px;
        font-size: 14px;
        font-family: "Lato", sans-serif;
        color: #666666;
    }
    .quick-links{
        padding-bottom:104px;
    }
    footer{
        background-color:#434343;
    }
    .wrapperfooter{
        margin:18px 0px;
    }
    .wrapperfooter>span{
        color:#999999;
        float:left;
        line-height:14px;
        font-family:"Lato", sans-serif;
        font-size:12px;
    }
    .wrapperfooter>ul{
        float:right;
        display: block;
    }
    .wrapperfooter>ul>li{
        display:block;
        float:right;
        color:#999999;
        margin-left:25px;
        line-height:14px;
        font-family:"Lato", sans-serif;
        font-size:11px;
        
    }
    .wrapperfooter>ul>li>a{
        
        color:#999999;
        
    }
}


@media screen and (min-width: 1170px){
    .header-container{
        padding:12px 30px;
    }
    .social-media ul li{
        margin-right:20px;
        line-height:0px;
        padding: 2.5px 0px;
    }


    .social-media ul li a i:hover{
        color: #F0423C;
    }
    .mail-call{
        float:right;
        line-height:21px;
    }
    .mail-call ul li{
        margin-left:18.5px;
        font-size: 14px;
        line-height:11px;

    }

    .mail-call ul li>div:first-child{
        margin-left:10px;
        
    }
    .logo-wrapper div{
        float:left;
    }
    .logo-wrapper{
        float:left;
    }
    .navigation-wrapper{
        float:right;
    }
     .login-register{
        margin-left:8px;
    }
    .login-register>ul li{
        float: right;
    }
    nav {
        float:left;
    }
    .browse span:first-child{
        padding-right:6px;
    }
    .browse span i{
        line-height:0px;
    }
    .login-register>ul>li a div{
        line-height: 47px;
    
    }
    .login-register>ul>li a div{
        margin-left:13px;
    }
    .login-register ul li a div img{
        margin:0px 7px;
    }
    
    nav>ul>li{
        float:left;
    }
    nav>ul>li>a{
        line-height: 47px;
        padding: 0px 24px;
        font-size:14px;
    }
    .dropdown{
        border-top:2px solid #F0423C;
        display:none;
        width:234px;
        position:absolute;
        left:459px; 
        top:121px;
        
    }
    
    .dropdown2{
        border-top:2px solid #F0423C;
        width:234px;
        display: none;  
        position:absolute;
        left: 235px;
        top: 95px;
    }
    nav>ul>li:first-child>a:hover ~.dropdown{
        display:block;
    }
    .dropdown>ul>li a div:hover,.dropdown2>ul>li>a:hover{
        background-color:#f0423c;
    }
    .dropdown2 ul li a{
        display:block;
    }
    .dropdown ul li,.dropdown2 ul li{
        border-top:1px solid #5c5c5c;
    }
    .dropdown ul li:first-child,.dropdown2 ul li{
        border-top:none;    
    }
    .dropdown ul li a div,.dropdown2 ul li a{
        padding: 0px 20px;
        background-color:#424242;
        font-family: 'Lato', sans-serif;
        font-size:14px;
        line-height:48px;
        color:white;
        overflow:auto;
    }
    .dropdown>ul>li>a>div>span:last-child{
        overflow:hidden;
        float:right;
    }
    .dropdown>ul>li>a>div>span:first-child{
        float:left;
        width:96%;
    }
    
    
    .logo-wrapper div:last-child{
        font-size:24px;
        margin-left: -6px;
        line-height:47px;
    
    }

    .design-contest{
        padding-top:30px;
        padding-bottom:20px;
    }

    .main-screen{
        padding-top:141px;
        padding-bottom: 113px;
    }
    .main-screen>div{
        max-width:39.375em;
        margin:0px auto;
    }
    
    .main-screen img{
        margin:0px auto;
    }
    .main-screen>div:first-child>div:nth-child(2){
        margin-top:16px;
    }
    .main-screen>div:first-child>div:last-child{
        margin-top:19px;
        font-size: 40px;
        line-height: 30px;
        
    }
    .main-screen button{
        line-height: 10px;
        padding: 23px 50px;
        font-size:14px;
    }
    
    .main-screen>div:last-child{
        margin-top: 108px;
    }
    .main-screen>div:last-child>div{
        margin-top: 29px;
        font-size:14px;
        line-height: 11px;
    }
    .main-screen>div:last-child>div>span:first-child{
        margin-right: 10px;
    }
    .what-do-you-need{
        padding-top: 100px;
        padding-bottom:80px;
    }
    .need-design{
        max-width: 39.375em;
        margin: 0px auto;
    }
    .need-design>div:first-child,.made-easy>div:first-child{
        line-height: 21px;
        font-size:28px;
    }
    .need-design>div:nth-child(2)>img,.made-easy>div:nth-child(2)>img{
        margin-top:20px;
    }
    .need-design>div:last-child,.made-easy>div:last-child{
        margin-top:30px;
        font-size:16px;
        line-height: 14px;
    }
    .need-work>ul>li>div>img{
        width:100%;
    }
    .photography{
        margin-top: 57px;
    }
    .photography>ul>li>a{
        display:block;
    }
    .photography>ul>li>a>div{
        padding-top: 48px;
        padding-bottom: 59px;
        width: 100%;
    }
    .photography>ul>li{
        width: 31.45%;
        margin-right:30px;
    }
    .photography>ul>li:nth-child(3n){
        margin-right:0px;
    }
    .photography>ul>li>a>div>div{
        line-height:15px;
        font-size:20px;
        margin-top:19px;
    }

    .photography>ul>li>a>div>img:nth-child(2){
        margin-top:20px;
    }
    .photography>ul>li:nth-child(n+4){
        margin-top: 29px;
    }
    .what-do-you-need>button{
        padding: 18px 38px;
        margin-top:40px;
        line-height: 10px;
        font-size:14px;
    }
    .black{
        background-image: url('../images/img2.png');
    }
    .counter{
        padding-top:66px;
        padding-bottom:68px;
    }
    .counter>ul>li{
        width: 23.1624%;
        
    }
    .counter>ul>li>div:last-child{
        margin-top:22px;
        line-height:13px;
        font-size:16px;
    }
    .counter>ul>li>div:first-child{
        line-height: 29px;
        font-size:40px;
    
    }
    .counter>ul>li>div:nth-child(2){
        margin-top: 31px;
    }
    .graphic-design{
        padding-top: 80px;
        padding-bottom:80px;
    }
    .made-easy{
        max-width: 39.375em;
        margin: 0px auto;
    }
    .outerbox{
        margin-top: 57px;
    }
    .uppertext>div:first-child{
        line-height:17px;
        font-size:20px;
    }
    .outerbox>div{
        width:47.718%;
    }
    .uppertext>div:last-child{
        margin-top:20px;  
        line-height:24px;

        font-size: 16px;  
    }
    .need-work{
        float:left;
    }
    .need-work>ul{
        margin-top: 14px;
    }
    .need-work>ul>li{
        margin-top: 34px;
        overflow: hidden;
    }
    .need-work>ul{
        margin-top: 17px;
    }
    .need-work{
        margin-right: 30px;
    }
    .need-work>ul>li>div{
        float:left;
    }
    .titletext{
        margin-left:31px;
    }
    .titletext>div:first-child{
        line-height:15px;

        font-size:18px;
    }
    .titletext>div:last-child{
        margin-top: 19px;
        line-height: 15px;
        font-size: 14px;
    }
    .video>img{
        position:absolute;
    }
    .video>img:last-child{
        top:134px;
        left:850px;
    }
    .examples{
        padding-top:73px;
        padding-bottom: 80px;
    }
    .of-graphics>div:first-child{  
        line-height:35px;
        font-size:28px;
    }
    .of-graphics>div>i{
        padding:9.5px 12.5px;
    }
    .images{
        margin-top:53px;
    }
    .images>ul>li{
        float:left;
        width: 25%;
        line-height: 0px;
    }
    .anim{
        position:relative;
        overflow:hidden;
    }
    .anim>img{
        width: 100%;
    }
    .transblack{
        display: block;
    }
    .transblack{
        position:absolute;
        top:0px;
        left:0px;
        z-index:2;
        width:100%;
        height:100%;
        background-color:#000000;
        opacity:0;
    }
    .transition{
        display:block;
    }
    
    .transition>div:first-child{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index:3;
    }
    .images>ul>li>a{
        text-decoration: none;
        color: #f0423c;
        display: block;
    }
    
    .transition>div:last-child{
        position:absolute;
        z-index:3;
        top: 100%;
        left:0px;
        width:100%;
        opacity:0;
    }
    .transition>div:first-child{
        opacity:0;
    }
    .transition>div:last-child>span{
        text-decoration: none;
        text-align: center;
        border: 0px;
        background-color:#f0423c;
        color:white;
        padding: 14px 0px;
        width: 49.8%;
        float:left;
        font-size:14px;
        font-family: "Lato",sans-serif;
        line-height:10px;
    }
    .transition>div:last-child>span:first-child{
        margin-right: 1px;
    }
    .anim>div:first-child>img{
        width:100%;
    }
    .anim:hover .transblack{
        opacity: 0.8;
        transition: opacity 0.3s;
        transition-timing-function: ease-out;
    }
    .anim:hover .transition>div:last-child{
        top: 83.8682%;
        opacity:1;
        transition: top 0.3s,opacity 0.3s;
        transition-timing-function: ease-out;
    }
    .anim:hover .transition>div:first-child{
        opacity:1;
        transition: opacity 0.3s;
        transition-timing-function: ease-out;
    }
    
    .examples>button {
        padding: 19px 38px;
        margin: 0px auto;
        margin-top: 60px;
        line-height: 10px;
        font-size: 14px;
    }
    .testimonials{
        padding-top:80px;
        padding-bottom:80px;
    }
    .testhead>div:first-child{
        line-height: 21px;
        font-size: 28px;
    }
    .testhead>div:nth-child(2)>img{
        margin-top: 20px;
    }
    .testhead>div:last-child{
        margin-top: 30px;
        font-size: 16px;
        line-height: 14px;
    }
    .comments{
        margin-top:57px;
        margin-bottom:60px;
    }
    .comments>ul>li{
        width: 48.7180%;
    }
    .container{
        padding: 0px 33px;
        padding-top: 34px; 
        padding-bottom:36.5px;
    }
    .cmt{
        line-height:24px;
        font-size:16px;
    }
    
    .rating{
        margin-top:19.5px;
        padding:0px 150px;
    }
    .rating>span:first-child{
        line-height:12px;
        font-size:16px;
        margin-right:20px;
    }
    .rating>span>i{
        line-height:0px;
    }
    .name{
        margin-top:34px;
        line-height:10px;
        font-size:14px;
    }
    .comments>ul>li:first-child{
        margin-right:30px;
    }
    .leftright i{
        padding: 9.5px 12.5px;
    }
    .leftright{
        margin:0px auto;
        width:75px;
    }
    .leftright i:hover{
        padding: 9.5px 12.5px;
    }
    .logos>ul{
        padding:36px 0px;
    }
    .logos>ul>li{
        margin-right: 80px;
    }
    .logos>ul>li>img{
        max-width: 100%;
    }
    .logos>ul>li:last-child{
        margin-right: 0px;
    }
    .get{
        width:32%;
    }
    .email{
        width:65.8120%;
        
    }
    .email>form>input{
        font-size:14px;
    }
    .coupon{
        padding-top:60px;
        padding-bottom:100px;
    }
    .get>div:first-child{
        font-size:18px;
        line-height:19px;
    }
    .get>div:last-child{
        margin-top:18px;
        font-size:16px;
        line-height:11px;
    }
    .get>div:first-child>span{
        font-size:20px;
    }
    
    .email>form>input:first-child{
        padding:19px 20px;
        width: 68.5714%;;
        height:10px;
        margin-right:30px;
    }
    .email>form>input:last-child{
            padding: 18px 0px;
            width:22.0779%;
            line-height: 10px;
            font-size: 14px;
    }
    
    .quick-links>div>i:first-child{
        padding:10px 13px;
    }
    .quick-links>div>a>i:first-child{
        float:right;
        padding:11px 12px;
        border:1px solid #f0423c;
        background-color:#f0423c;
        color:white;
    }
    .enclose{
        margin-top:20px;
    }
    .wrapperleft{
        width:31.6240%;
        margin-right:30px;
    }
    
    .bottomheading>div:last-child{
        line-height:45px;
        font-size:21px;
    }
    
    .lorem{
        margin-top:18px;
        line-height:24px;
        font-size:14px;
    }
    .logobottom>i{
       margin-right:10px;
    }
    .wrappermiddle{
        width: 34.188%;
    }
    .links{
        margin-right: 30px;
        width: 42.5%;
    }
    .links>div:first-child{
        line-height: 19px;
        font-size:20px;
    }
    .links>div:nth-child(2){
        margin-top:16px;
    }
    .links>div:nth-child(2)>img{
        display:block;
    }
    .links>ul{
        margin-top:16px;
    }
    .links>ul>li>a{
        padding: 13.5px 0px;
    }
    .links>ul>li>a>div{
        padding-left: 19px;
        font-size:14px;
        line-height:12px;
    }
    .wrapperright{
        display: block;
        float:left;
        width: 31.6240%;
    }
    .wrapperright>div:first-child{
        line-height: 19px;
        font-family: "Exo",sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: #424242;
    }
    .wrapperright>div:nth-child(2)>img{
        display:block;
        margin-top:16px;
    }
    .wrapperright>div:nth-last-of-type(1){
        margin-top: 18px;
        line-height: 24px;
        font-size: 14px;
        font-family: "Lato", sans-serif;
        color: #666666;
    }
    .wrapperright>form{
        margin-top: 18px;
    }
    .wrapperright>form>input:nth-child(-n+2){
        margin-bottom:9px;
        border:1px solid #E5E5E5;
        width:89.5%;
        padding:19px 18px;
        height:10px;
        background-color:#F7F7F7;
        font-size:14px;
        font-family: "Lato", sans-serif;
    }
    .wrapperright>form>input:nth-child(-n+2):focus{
        background-color:white;

    }
    .wrapperright>form>input:last-child{
        margin-top: 2px;
        padding: 18px 0px;
        width: 100%;
        display: block;
        border: 1px solid #F0423C;
        line-height: 10px;
        font-weight:bold;
        text-decoration: none;
        background-color: #F0423C;
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }
    .wrapperright>form>input:last-child:hover{
        color:#F0423C;
        background-color:#F7F7F7;
        cursor:pointer;
    }
    .quick-links{
        padding-bottom:104px;
    }
    
    .wrapperfooter{
        margin:18px 0px;
    }
    .footer-container>div>div{
        line-height:14px;
        font-size:12px;
    }
.email{
    margin-top:0px;
}
    .wrapperfooter>ul>li{
        line-height:14px;
        font-size:12px;
        margin-left:25px;
    }
    .main-screen>div:first-child>div:nth-child(2)>img{
        width:auto;
    }
    .need-design>div:nth-child(2)>img{
        width:auto;
    }
    .counter>ul>li>div>img{
        width:auto;
    }
    .made-easy>div:nth-child(2)>img{
        width:auto;
    }
    .testhead>div:nth-child(2)>img{
        width:auto;
    }
}